* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    font-family: 'League Spartan';
}

header {
    position: absolute;
    margin-left: 51px;
    margin-top: 51px;
    display: flex;
}

header label {
    display: none;
}

header input {
    display: none;
}

header img {
    width: 80px;
    margin-right: 50px;
}

.redirectButtons {
    display: flex;
    justify-content: space-between;
    width: 260px;
}

.redirectButtons a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
}

.redirectButtons a::after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.redirectButtons a:hover::after {
    opacity: 1;
    transform: translateX(-50%) scaleX(2);
}

body {
    display: flex;
    flex-direction: column;
}

.containerOne {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topLeft {
    width: 100%;
}

.topLeft img {
    height: 100%;
    width: 100%;
}

.topRight {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contentTopRight {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
}

.contentTopRight h2 {
    font-size: 45px;
    margin-bottom: 24px;
}

.contentTopRight p {
    color: hsl(0, 0%, 63%);
    line-height: 1.4;
    margin-bottom: 24px;
}

.shopNowDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.shopNowDiv button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: hsl(0, 0%, 63%);
    text-transform: uppercase;
    letter-spacing: 0.8em;
    cursor: pointer;
    text-align: left;
}

.shopNowDiv img {
    width: 41px;
    color: hsl(0, 0%, 63%);
}

.containerTwo {
    display: flex;
    flex-direction: row;
    transform: translateY(-4px);
}

.middleBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.middleBottomContent {
    width: 87%;
    height: 50%;
}

.middleBottomContent h3 {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    margin-bottom: 10px;
}

.middleBottomContent p {
    line-height: 1.2;
    color: hsl(0, 0%, 63%);
}

.leftBottom {
    width: 100%;
}

.leftBottom img {
    width: 100%;
}

.rightBottom {
    width: 100%;
}

.rightBottom img {
    width: 100%;
}

.attribution {
    bottom: 0;
}

/* RESPONSIVE */

@media (max-width: 1024px){
    .containerOne {
        display: flex;
        flex-direction: column;
    }

    .containerTwo {
        display: flex;
        flex-direction: column; 
    }

    .topRight {
        transform: translateY(-4px);
        padding-top: 60px;
        padding-bottom: 74px;
    }

    .middleBottom {
        padding-top: 53px;
        padding-bottom: 44px;
    }

    .middleBottomContent {
        width: 65%;
    }

    .redirectButtons {
        display: none;
    }

    header {
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        display: flex;
        padding-top: 47px;
        flex-direction: row;
        justify-content: start;
    }

    header img {
        width: 125px; 
        margin-right: auto;
        margin-left: auto;
    }

    header input {
        display: flex;
        position: absolute;
        pointer-events: none;
        opacity: 0;
    }

    header label {
        position: absolute;
        display: flex;
        margin-left: 5%;
    }

    #labelHeader svg {
        width: 42px;
        height: 30px;
    }

    #headerOpen:checked + #labelHeader + .redirectButtons {
        display: flex;
    }
}